@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Figtree:ital,wght@0,300..900;1,300..900&family=Signika+Negative:wght@300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /* font-family: "Caprasimo", serif;
    font-weight: 300;
    font-style: normal; */
}

body {
    height: 100%;
    display: grid;
    place-items: center;
}

.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


#welcome {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* justify-content: center; */
    height: 100vh;
    z-index: -1;
    /* overflow: hidden; */
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    padding-top: 170px;
    gap: 30px;
    height: 100%;
}

.stickers img {
    width: 100%;
    height: 37vmax;
}

.stickers {
    position: relative;
}

.sticker-left-2 {
    position: absolute;
    top: 0;
    left: 30vmin;
    transform: translate(-60%, 20%);
}

.sticker-left-3 {
    position: absolute;
    top: 0;
    left: 50vmin;
    transform: translate(-60%, 50%);
}
.stickers .left::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url('/photobooth/photos/starSingle.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    left: 0;
    top: 0;
    z-index: 1;
}

.sticker-right-2 {
    position: absolute;
    top: 0;
    right: 40vmin;
    transform: translate(60%, 60%);
}
.sticker-right-3 {
    position: absolute;
    top: 0;
    right: 30vmin;
    transform: translate(50%, 20%);
}

.title {
    font-family: "Caprasimo", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
}

.content {
    width: 50vmin;
    font-size: 20px;
    font-family: "Figtree", sans-serif;
}

button {
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    background-color: #fff;
    width: 23vmin;
    height: 7vmin;
    text-align: center;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;

}

.icon-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #ffb5c8;
    /* Change background color on hover */
    font-weight: 400;
    color: #fff;
    /* Change text color on hover */
    transform: scale(1.05);
    /* Slightly enlarge the button */
}

.landingImg {
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: 0 0 800px 50px #FFB5C8;
}

/* ======= */
/* mobile  */
@media (max-width: 900px) {
    .stickers img{
        display: none;
    }
    .btn {
        width: 160px;
        height: 70px;
    }
}